<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-header align-center">
                <h2 class="section-title">Popüler Kitaplar</h2>
            </div>
            <ul class="tabs">
              
                    <li data-tab-target="#tum-kitaplar" class="active tab">Tüm Kitaplar</li>
                    <li data-tab-target="#roman" class="tab">Roman</li>
                    <li data-tab-target="#edebiyat" class="tab">Edebiyat</li>
                    <li data-tab-target="#tarih" class="tab">Tarih</li>
                    <li data-tab-target="#kisisel-gelisim" class="tab">Kişisel Gelişim</li>
                    <li data-tab-target="#cocuk-ve-gelisim" class="tab">Çocuk ve Gelişim</li>
               
            </ul>

            <div class="tab-content">

                @await Component.InvokeAsync("_AllBooksViewComponents")
                @await Component.InvokeAsync("_RomanViewComponents")
                @await Component.InvokeAsync("_EdebiyatViewComponents")
                @await Component.InvokeAsync("_TarihViewComponents")
                @await Component.InvokeAsync("_KisiselGelisimViewComponents")
                @await Component.InvokeAsync("_CocukGelisimViewComponents")


            </div>

        </div>

    </div>
</div>