

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="section-header align-center">
                <div class="title">
                    <span>Some quality items</span>
                </div>
                <h2 class="section-title">Popular Books</h2>
            </div>

            <ul class="tabs">
              
                    <li data-tab-target="#" class="tab"></li>
               
            </ul>

            <div class="tab-content">
        
                    <div id="x" data-tab-content class="">
                        <div class="row">

                            <div class="col-md-3">
                                
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="x" alt="Books" class="product-item">
                                            <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                                Satın Al
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>x</h3>
                                            <span>x</span>
                                            <div class="item-price">x ₺</div>
                                        </figcaption>
                                    </div>
                               
                            </div>



                        </div>

                    </div>
              

            </div>

        </div>

    </div>
</div>